/* src/index.css */
* {
    box-sizing: border-box;
}
body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
  }
/* src/index.css */
#root {
  overflow: visible !important;  /* ✅ 이 줄을 추가 또는 수정하세요 */
}

/* 소리 버튼 */
.sound-btn-set {
  visibility: hidden;
  position: fixed;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  z-index: 9999;
}
.sound-btn {
  border: none;
  background-color: transparent;
  color: #111111;
}

#start-screen-btn {
  /* margin: 0 auto; */
  padding: 10px 10px;
  font-size: 16px;
  position: absolute; /* relative → absolute 변경 */
  width: 300px;
  height: 300px;
  top: 30vh;
  /* background: url('./assets/images/gamza_button_unclick.webp') no-repeat center; */
  background: url('./assets/images/start_button.png') no-repeat center;
  background-size: cover;
  border: none;
  cursor: pointer;
  cursor: pointer;
  z-index: 9999;
  transition: background 0.3s ease-in-out;
  display: none; /* 기본적으로 버튼 숨김 */

  left: 50%; 
  /* 가로 정렬을 위해 left: 50% */
  transform: translateX(-50%); 
  /* 가로 중앙 정렬 */

}
#start-screen-btn:hover {
  background: url('./assets/images/start_button_hover.png') no-repeat center;
  background-size: cover;
}




/* 시작 페이지 */
#start-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    overflow: hidden;
  }

  /* 시작 화면 비디오 */
  #start-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* 시작 버튼 */
  #start-button {
    /* margin: 0 auto; */
    padding: 10px 10px;
    font-size: 16px;
    position: absolute; /* relative → absolute 변경 */
    width: 165px;
    height: 165px;
    top: 10px;
    right: 30px;
	  /* background: url('./assets/images/gamza_button_unclick.webp') no-repeat center; */
    background: url('./assets/images/yellowsun.png') no-repeat center;
	  background-size: cover;
    border: none;
    cursor: pointer;
    cursor: pointer;
    z-index: 9999;
	  transition: background 0.3s ease-in-out;
	  display: none; /* 기본적으로 버튼 숨김 */

    /* left: 50%;  */
    /* 가로 정렬을 위해 left: 50% */
    /* transform: translateX(-50%);  */
    /* 가로 중앙 정렬 */

  }

  @keyframes blinkSun {
    0%, 100% {
      background-image: url('./assets/images/yellowsun.png');
    }
    50% {
      background-image: url('./assets/images/redsun.png');
    }
  }
  
  #start-button.blinking {
    animation: blinkSun 1s infinite; 
  }
  
  /* Hover 시 이미지 변경 */
  #start-button.blinking:hover {
    animation: none;
    background: url('./assets/images/redsun.png') no-repeat center;
    background-size: cover;
  }


  /* 시작 안내 페이지 */
  #start-guide1,  #start-guide2  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #11111190;
    z-index: 9998;
    overflow: hidden;
    display: flex;
  }
/* 시작 가이드 이미지  */
  #start-guide1 img, #start-guide2 img  {
    width: 700px;
    height: auto;
    object-fit: cover; /* 비율 유지하며 꽉 채우기 */
    position: absolute;
    /* top: 10vh; */
    left: 50%; 
    /* 가로 정렬을 위해 left: 50% */
    transform: translateX(-50%); 
    /* 가로 중앙 정렬 */
    z-index: 1;
  }

/* 시작 가이드 확인 버튼 */
  #start-guide-btn1 {
    margin: 0 auto;
    padding: 10px 10px;
    font-size: 16px;
    position: absolute; /* relative → absolute 변경 */
    width: 70px;
    height: 70px;
    /* background: url('./assets/images/gamza_button_unclick.webp') no-repeat center; */
    background: url('./assets/images/guide_btn1.png') no-repeat center;
    background-size: cover;
    border: none;
    cursor: pointer;
    left: 50%; /* 가로 정렬을 위해 left: 50% */
    top: 78vh;
    transform: translateX(-50%); /* 가로 중앙 정렬 */
    cursor: pointer;
    z-index: 2;
    transition: background 0.3s ease-in-out;
    display: none; /* 기본적으로 버튼 숨김 */
  }
  #start-guide-btn2 {
    margin: 0 auto;
    padding: 10px 10px;
    font-size: 16px;
    position: absolute; /* relative → absolute 변경 */
    width: 70px;
    height: 70px;
    /* background: url('./assets/images/gamza_button_unclick.webp') no-repeat center; */
    background: url('./assets/images/guide_btn2.png') no-repeat center;
    background-size: cover;
    border: none;
    cursor: pointer;
    left: 50%; /* 가로 정렬을 위해 left: 50% */
    top: 78vh;
    transform: translateX(-50%); /* 가로 중앙 정렬 */
    cursor: pointer;
    z-index: 2;
    transition: background 0.3s ease-in-out;
    display: none; /* 기본적으로 버튼 숨김 */
  }
  
  .alba-poster {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
  }
  .alba-poster img{
    width: 100%;
    height: 100%;
  }

  .script {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
    pointer-events: none;
  }
    .script img {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    #ending-screen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9997;
      overflow: hidden;
      display: none;       /* 처음엔 숨김 */
      opacity: 0;           /* 투명도 0으로 시작 */
      transition: opacity 1.5s ease-in-out;
      pointer-events: none; /* 클릭 방지 */
    }
    #ending-screen.fade-in {
      opacity: 1;
      pointer-events: auto;
    }
    #ending-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    #ending-screen.show {
      display: block;
      opacity: 1;
      pointer-events: auto;
      transition: opacity 1.5s ease-in;
    }
    #ending-screen.fade-out {
      opacity: 0;
      pointer-events: auto;
      transition: opacity 1.5s ease-in;
    }

    
    .after-game {
      position: fixed;
      top: 50%;
      left: 70%; /* 가로 정렬을 위해 left: 50% */
      transform: translateX(-50%); /* 가로 중앙 정렬 */
      /* left: 0; */
      width: 600px;
      height: 600px;
      z-index: 9999;
      transform: translate(-50%, -50%);
      /* overflow-y: scroll; */
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 10px;
    }

    .after-game img {
      width: 600px; 
      height: 5000px;
    }

    .scroll-hidden {
      overflow: auto;
      -ms-overflow-style: none;  /* IE, Edge */
      scrollbar-width: none;     /* Firefox */
    }
    
    .scroll-hidden::-webkit-scrollbar {
      display: none;             /* Chrome, Safari */
    }
    

